<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Toy Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <h3>Spring Toy Project API입니다.</h3>
</body>
</html>